# Ignorar archivos de Python
__pycache__/
*.pyc

# Archivos de entorno virtual
venv/
env/
data/

# Configuración de VS Code
.vscode/

# Archivos temporales
*.log
*.tmp

# Archivos del sistema
.DS_Store
Thumbs.db
